@import '../../functions/pxToRem.scss';

.todo-input {
  position: relative;
}

.create-todo {
  width: calc(100% - 75px);
  height: toRem(60);
  margin: 0;
  padding: 0;
  padding-left: toRem(50);
  padding-right: toRem(25);
  border: none;
  border-bottom: 1px solid #5a189a;
  outline: none;
  font-size: toRem(25);
  color: #240046;

  @media (max-width: toRem(768)) {
    font-size: toRem(20);
  }

  &::placeholder {
    font-size: toRem(25);
    font-style: italic;
    opacity: .5;

    @media (max-width: toRem(390)) {
      font-size: 6vw;
    }
  }
}

.toggle-all {
  position: absolute;
  top: toRem(15);
  left: toRem(20);
  margin: 0;
  transform: rotate(90deg);
  opacity: .3;
  appearance: none;
  
  &:checked {
    opacity: 1;
  }

  &::before {
    content: '❯';
    font-size: toRem(25);
    color: #240046;
  }
}