@import '../../styles/functions/pxToRem.scss';

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: toRem(40);
  border: none;
  font-family: 'Rubik', sans-serif;
  background: rgb(255, 255, 255);
}