@import '../../functions/pxToRem.scss';

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: toRem(40);
  border: none;
  font-family: 'Rubik', sans-serif;
  background: rgb(255, 255, 255);
}

.count {
  margin-left: toRem(15);
  font-size: toRem(15);
  color: #3c096c;

  @media (max-width: toRem(360)) {
    margin-left: toRem(5);
    font-size: toRem(12);
  }

  @media (min-width: toRem(361)) and (max-width: toRem(500)) {
    font-size: 3vw;
  }
}

.filters {

  &__link {
    margin: 0 toRem(5);
    padding: toRem(3) toRem(5);
    border: 1px solid transparent;
    text-decoration: none;
    font-size: toRem(15);
    color: #3c096c;
    -webkit-tap-highlight-color: transparent;

    @media (max-width: toRem(360)) {
      margin: 0 toRem(1);
      padding: toRem(1) toRem(2);
      font-size: toRem(12);
    }

    @media (min-width: toRem(361)) and (max-width: toRem(500)) {
      font-size: 3vw;
      margin: 0 toRem(2);
      padding: toRem(2) toRem(3);
    }

    @media (min-width: toRem(768)) {
      &:hover:not(.active) {
        border: 1px solid rgba(69, 9, 108, .5);
        border-radius: toRem(5);
      }
    }
  }
}

.clear {
  margin-right: toRem(15);
  border: none;
  background: none;
  font-size: toRem(15);
  color: #3c096c;

  @media (max-width: toRem(360)) {
    margin-right: toRem(5);
    font-size: toRem(12);
  }

  @media (min-width: toRem(361)) and (max-width: toRem(500)) {
    font-size: 3vw;
  }
  

  @media (min-width: toRem(769)) {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    } 
  }

  &_hide {
    visibility: hidden;
  }

  &_show {
    visibility: visible;
  }
}

.active {
  border: 1px solid rgba(69, 9, 108, 1);
  border-radius: toRem(5);
}