@import '../../styles/functions/pxToRem.scss';

.filter {

  &__link {
    margin: 0 toRem(5);
    padding: toRem(3) toRem(5);
    border: 1px solid transparent;
    text-decoration: none;
    font-size: toRem(15);
    color: #3c096c;
    -webkit-tap-highlight-color: transparent;

    @media (max-width: toRem(360)) {
      margin: 0 toRem(1);
      padding: toRem(1) toRem(2);
      font-size: toRem(12);
    }

    @media (min-width: toRem(361)) and (max-width: toRem(500)) {
      font-size: 3vw;
      margin: 0 toRem(2);
      padding: toRem(2) toRem(3);
    }

    @media (min-width: toRem(768)) {
      &:hover:not(.active) {
        border: 1px solid rgba(69, 9, 108, .5);
        border-radius: toRem(5);
      }
    }
  }
}

.active {
  border: 1px solid rgba(69, 9, 108, 1);
  border-radius: toRem(5);
}