@import './functions/pxToRem.scss';

body {
  margin: 0;
  padding: 0;
  background: #9d4edd;
}

.App {
  min-width: toRem(400);
  max-width: toRem(600);
  width: 100%;
  margin: 0 auto;
  padding: 0 toRem(20);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}