@import '../../styles/functions/pxToRem.scss';

.clear {
  margin-right: toRem(15);
  border: none;
  background: none;
  visibility: hidden;
  font-size: toRem(15);
  color: #3c096c;

  @media (max-width: toRem(360)) {
    margin-right: toRem(5);
    font-size: toRem(12);
  }

  @media (min-width: toRem(361)) and (max-width: toRem(500)) {
    font-size: 3vw;
  }
  

  @media (min-width: toRem(769)) {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    } 
  }

  &_show {
    visibility: visible;
  }
}